.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 130px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

#btnClientAdmin {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 2%;
}

#dashboardClientContainer, 
#historiqueContainer {
  padding: 1%;
  padding-left: 10%;
  padding-right: 10%;
}

#btnHistoTransaction {
  float: right;
}

#btnPayerSoldeCredit {
  float: left;
}

.row {
  margin: 0 -5px;
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

#btnVirementInterac {
  margin-top: 5%;
}

#btnDeconnexion {
  margin-top: 5%;
  float: right;
}

.loginContainer {
  width: 50%;
  margin: auto;
}

#histoSoldeDebit {
  width: 25%;
}

.btnAccueil {
  position: absolute;
  left: 1%;
}

.btnImprimer {
  margin-top: 5%;
  float: right;
}
