.App-logo {
  max-width: 500px;
  width: 100%;
}

.App-header {
  background-color: #f8f9fa;
  width: 100%;
  padding: 20px;
  color: white;
  text-align: center;
  border-bottom: solid green;
}

.App-intro {
  font-size: large;
}

#btnClientAdmin {
  position: relative;
  float: right;
  bottom: 0;
  margin: 1%;
}

#dashboardClientContainer,
#dashboardAdminContainer,
#nouveauCompteContainer,
.historiqueContainer,
#paymentContainer,
#virementContainer {
  padding: 1%;
  padding-left: 10%;
  padding-right: 10%;
}

#btnHistoTransaction {
  float: right;
}

#btnPayerSoldeCredit {
  float: left;
}

#btnVirementInterac, 
#btnNouveauClient {
  margin-top: 10px;
}

#btnDeconnexion {
  margin-top: 10px;
  float: right;
}

.loginContainer  {
  width: 80%;
  max-width: 600px;
  margin: auto;
}

#histoSoldeDebit,
#paymentTotalFacture {
  width: 25%;
}

.btnImprimer,
#btnConfirmer {
  margin-top: 5%;
  float: right;
}

#btnAnnuler {
  margin-top: 5%;
  float: right;
  margin-left: 2%;
}

#btnHistoPayer {
  margin-top: 5%;
}

.redAlerts{
  color: red;
}

.debitCard{
  margin-bottom: 10px;
}

#btnAnnulerCompte {
  margin-right: 2%;
}
